# These are the requirements for building the tutorial documentation.
# See a separate requirements.txt file inside the cookiecutter.
cookiecutter
ipython
matplotlib
numpy
numpydoc
pexpect
pre-commit
pytest
sphinx
sphinx-copybutton
sphinx_rtd_theme
