[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    {{ cookiecutter.package_dir_name }}/_version.py,
    docs/source/conf.py
max-line-length = 115
# Ignore some style 'errors' produced while formatting by 'black'
ignore = E203, W503
